@model Projeto_Integrador_Senac.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto_Descricao" class="control-label">Descrição</label>
                <input asp-for="Produto_Descricao" class="form-control" />
                <span asp-validation-for="Produto_Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto_Preco_Custo" class="control-label">Preço de Custo</label>
                <input asp-for="Produto_Preco_Custo" class="form-control" />
                <span asp-validation-for="Produto_Preco_Custo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto_Preco_Venda" class="control-label">Preço de Venda</label>
                <input asp-for="Produto_Preco_Venda" class="form-control" />
                <span asp-validation-for="Produto_Preco_Venda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Produto_Quantidade_Estoque" class="control-label">Quantidade no Estoque</label>
                <input asp-for="Produto_Quantidade_Estoque" class="form-control" />
                <span asp-validation-for="Produto_Quantidade_Estoque" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Produto_Ativo" /> Ativo
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
