@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container">
        <div class="row">
            <h3>Hello World, I'm Here!</h3>
        </div>
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/League_of_Legends_Carousel.jpg" class="d-block w-100" alt="Imagem - League of Legends">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/Forza_Horizon_Carousel.jpg" class="d-block w-100" alt="Imagem - Forza Horizon 5">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/Fifa22_Carousel.jpg" class="d-block w-100" alt="Imagem - Fifa 22">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Próximo</span>
                </a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="card-deck">
                <div class="card">
                    <!-- Button trigger modal -->
                    <img src="~/images/Forza_Motorsport_7_Modal.png" data-toggle="modal" data-target="#exampleModal" width="100%" />
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Forza Motorsport 7</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="~/images/Forza_Motorsport_7_Modal.png" width="100%" />
                                    <br />
                                    <br />
                                    <ul>
                                        <li>700 Carros no lançamento incluindo a maior coleção de Ferraris, Lamborghinis e Porsches</li>
                                        <li>Carros da Porsche voltam a franquia no jogo base</li>
                                        <li>Clima Dinâmico</li>
                                        <li>Corridas Noturna (Com progressão de tempo)</li>
                                        <li>Porsche 911 GT2 como capa do jogo</li>
                                        <li>Novos modos de Liga</li>
                                        <li>Aprimoramento para Xbox One X</li>
                                        <li>Cross-save e Cross-Play entre plataformas</li>
                                        <li>Personalização de aparência e equipamentos de piloto</li>
                                        <li>32 Pistas e 200 traçados diferentes</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Forza Motorsport 7</h5>
                        <p class="card-text">Forza Motorsport 7 é um jogo de corrida desenvolvido pela Turn 10 Studios e publicado pela Xbox Game Studios Exclusivamente para o Xbox One e Windows 10.
                        Foi lançado no dia 03 de Outubro de 2017. É o décimo jogo da franquia na série Forza, o sétimo na série principal.</p>
                    </div>
                </div>
                <div class="card">
                    <!-- Button trigger modal -->
                    <img src="~/images/Wild_Rift_Modal.png" data-toggle="modal" data-target="#exampleModal2" width="100%" />
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Wild Rift</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="~/images/Wild_Rift_Modal.png" width="100%" />
                                    <br />
                                    <br />
                                    <p>Wild Rift é um jogo multiplayer online de arena de batalha (MOBA) na perspectiva isométrica tridimensional.
                                    Os jogadores competem em partidas, que duram de 15 a 20 minutos em média. As equipes trabalham juntas para destruir o Nexus na base do time inimigo,
                                    contornando uma linha de estruturas defensivas chamadas torres. Ao contrário da franquia principal, as bases não contam com inibidores,
                                    e o Nexus dispara contra inimigos. Um sistema de mira automática e o mapa espelhado foram implementados para melhorar a jogabilidade no celular.</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" align="center">Wild Rift</h5>
                        <p class="card-text">League of Legends: Wild Rift é um jogo eletrônico do gênero MOBA desenvolvido e publicado pela Riot Games para Android, iOS,
                        e consoles ainda desconhecidos. O jogo é uma versão adaptada de seu equivalente para PC, League of Legends.</p>
                    </div>
                </div>
                <div class="card">
                    <!-- Button trigger modal -->
                    <img src="~/images/Clash_Royale_Modal.jpg" data-toggle="modal" data-target="#exampleModal3" width="100%" />
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Clash Royale</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="~/images/Clash_Royale_Modal.jpg" width="100%" />
                                    <br />
                                    <br />
                                    <p>
                                        Clash Royale consiste em um jogo de estratégia na qual, você lutará contra um adversário aleatório.
                                        Seu objetivo é destruir as torres inimigas usando uma variedade de cartas de tropas que podem serem desbloqueadas ao longo do tempo,
                                        algumas das tropas são uma reutilização de outro jogo da Supercell: Clash of Clans.
                                        Cada tropa durante uma partida possui um preço de Elixir, uma moeda utilizada durante partidas.
                                        O Elixir é acumulado ao longo da duração de uma partida que serve para comprar as tropas que você seleciona no menu.
                                        Você também tem a opção de jogar contra um amigo, jogar no modo DIversão! e jogar o modo 2 versus 2,
                                        onde você tem um aliado que te ajudará a aniquilar as torres dos seus inimigos.
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Clash Royale</h5>
                        <p class="card-text">
                            Clash Royale é um videojogo de estratégia freemium desenvolvido e publicado pela Supercell, empresa sediada em Helsinki, na Finlândia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>